/* latin-ext */
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local("Oleo Script"), local("OleoScript-Regular"), url(../fonts/_weQNDK6Uf40CiGFKBBUjiYE0-AqJ3nfInTTiDXDjU4.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local("Oleo Script"), local("OleoScript-Regular"), url(../fonts/_weQNDK6Uf40CiGFKBBUjo4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

body main {
  background-color: #3F5C93;
  border: 3px solid #e6e6e6;
  border-radius: 10px;
  height: auto; }
  body main section {
    width: 96%;
    justify-content: center;
    background-color: #CE0000;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    box-shadow: 10px 10px 10px #000;
    height: 95%;
    width: 96%; }
    body main section header {
      margin: 10px 0 5px 0;
      color: white;
      text-align: center;
      text-shadow: 1px 1px 10px blue;
      font-weight: bold;
      letter-spacing: 1px; }
    body main section h3 {
      text-align: center;
      font-family: 'Oleo Script';
      font-size: 1.2em; }
    body main section #small-article {
      display: inline-block;
      vertical-align: top;
      width: 30%;
      margin: 10px;
      padding-bottom: 10px;
      border: 1px solid white;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px; }
      body main section #small-article img {
        width: 90%;
        border-radius: 18px;
        margin: 18px;
        display: block;
        margin: 0 auto; }
      body main section #small-article p {
        margin-top: 6px;
        text-align: center;
        color: white; }

