body {
    main {
        background-color: #3F5C93;
        border: 3px solid #e6e6e6;
        border-radius: 10px;
        height: auto;

        section {
            width: 96%;
            justify-content: center;
            background-color: #CE0000;
            margin: 10px auto;
            border-radius: 10px;
            border: 1px solid #e6e6e6;
            box-shadow: 10px 10px 10px #000;
            height: 95%;
            width: 96%;

            header {
                margin: 10px 0 5px 0;
                color: white;
                text-align: center;
                text-shadow: 1px 1px 10px blue;
                font-weight: bold;
                letter-spacing: 1px;
            }

            h3 {
                text-align: center;
                font-size: 1em;
            }

            #small-article {
                display: inline-block;
                vertical-align: top;
                width: 30%;
                margin: 10px;
                padding-bottom: 10px;
                border: 1px solid white;
                border-bottom-right-radius: 20px;
                border-top-left-radius: 20px;

                img {
                    width: 90%;
                    border-radius: 18px;
                    margin: 18px;
                    display: block;
                    margin: 0 auto;
                }

                p {
                    margin-top: 6px;
                    text-align: center;
                    color: white;
                }
            }
        }
    }
}
