body #wrapper main {
  display: flex;
  justify-content: center;
  background-color: #3F5C93;
  border: 3px solid #e6e6e6;
  border-radius: 10px;
  height: auto; }
  body #wrapper main .width-box {
    width: 80%; }
  body #wrapper main .trainers-container {
    height: 58%;
    width: 98%; }
    body #wrapper main .trainers-container .trainers {
      margin: 1%;
      display: flex; }
      body #wrapper main .trainers-container .trainers img {
        height: 230px;
        max-width: 200px;
        margin: 2%;
        border-radius: 15px;
        border: 3px solid #fff; }
      body #wrapper main .trainers-container .trainers .block {
        width: 90%;
        height: 90%; }
        body #wrapper main .trainers-container .trainers .block header h3 {
          font-family: Looney Tunes Tilt BT,sans-serif; }
        body #wrapper main .trainers-container .trainers .block p {
          border: 3px solid #FFF;
          border-radius: 15px;
          padding: 10px;
          width: 87%; }
  body #wrapper main section {
    width: 99%;
    height: 80%;
    background-color: #CE0000;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    box-shadow: 10px 10px 10px #000; }
    body #wrapper main section header {
      margin: 10px 0 5px 0;
      color: white;
      text-align: center;
      text-shadow: 1px 1px 10px blue;
      font-weight: bold;
      letter-spacing: 1px; }
      body #wrapper main section header p {
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        color: #3F5C93; }
    body #wrapper main section article {
      margin: 10px;
      border-bottom: 1px solid white;
      padding-bottom: 10px; }
      body #wrapper main section article:last-child {
        border: 0;
        padding-bottom: 0; }
      body #wrapper main section article p {
        text-align: center;
        color: white; }
        body #wrapper main section article p img {
          width: 72%;
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          margin: 18px; }
  body #wrapper main #learning-plan-container {
    height: 95%;
    width: 96%; }
  body #wrapper main #aside-wrapper {
    width: 15%;
    float: left;
    margin: 10px; }
    body #wrapper main #aside-wrapper header {
      margin-top: 10px; }
      body #wrapper main #aside-wrapper header h3 {
        color: #3F5C93;
        font-weight: bold; }

@media screen and (max-width: 959px) {
  body {
    font-size: 18px; }
    body #wrapper {
      width: 100%; }
      body #wrapper main {
        margin-top: 10px; }
        body #wrapper main #aside-wrapper {
          display: none; }
          body #wrapper main #aside-wrapper div {
            visibility: hidden;
            margin: 0;
            width: 0;
            height: 0; }
          body #wrapper main #aside-wrapper .width-box {
            margin-left: 1%;
            width: 98%;
            height: 95%; } }

