@media screen and (max-width: 760px) {
	body {
		font-size: 18px;
	}
	.myButton {
		font-size: .5em;
		margin: 0;
		padding: 5px;
	}
	#header-style {
		height: 4.5em;
	}
	#aside-wrapper {
		float: none;
		width: 96%;
		display: block;
	}
	.asides {
		width: 100%;
		height: 70px;
	}
	#upper-aside ul li, #lower-aside ul li {
		display: inline-block;
		width: 20%;
    }
    #upper-aside header, #lower-aside header {
    	font-size: 1.2em;
    	letter-spacing: 3px;
    }
    #upper-aside > ul li:hover {
		width: 20%;
	}
	#lower-aside > ul li:hover {
		width: 20%;
	}
	#logo {
		width: 25%;
	}
    main section {
    	font-size: .9em;
    	width: 95%;
    	height: 60%;
    	margin: 10px;
    }
}