@media screen and (max-width: 560px) {
	nav {
		display: none;
	}
	h1 {
		margin: 20px;
	}
	#drop-menu {
		height: 40px;
		width: 40px;
		display: inline-block;
		float: left;
		position: relative;
		top: 10px;
		-webkit-appearance: button;
  		-webkit-border-radius: 2px;
  		-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  		-webkit-padding-end: 20px;
  		-webkit-padding-start: 2px;
  		-webkit-user-select: none;
  		background-image: url(../img/menu.png);
 		background-position: center right;
  		background-repeat: no-repeat;
  		background-size: 40px 40px;
 		border: 1px solid #AAA;
 		font-size: inherit;
  		margin: 0;
  		overflow: hidden;
  		padding-top: 2px;
  		padding-bottom: 2px;
  		text-overflow: ellipsis;
  		white-space: nowrap;
	}
	#header-style {
		height: 3.5em;
	}
	#aside-wrapper {
		float: none;
		width: 96%;
		display: block;
	}
	.asides {
		width: 100%;
		height: 70px;
	}
	#upper-aside ul li, #lower-aside ul li {
		position: relative;
		bottom: 10px;
		width: 20%;
    }
    #upper-aside header, #lower-aside header {
    	font-size: 1em;
    	letter-spacing: 3px;
    }
    #upper-aside > ul li:hover {
		width: 20%;
	}
	#lower-aside > ul li:hover {
		width: 20%;
	}
	#logo {
		width: 25%;
	}
    main section {
    	font-size: .8em;
    	width: 95%;
    	height: 60%;
    	margin: 10px;
    }
}